In [22]:
import pandas as pd

In [34]:
cities_df = pd.read_csv("Cities_Output.csv").dropna()
len(cities_df)

580

In [35]:
cities_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Cape Town,-33.9258,18.4232,57.11,93,90,1.01,ZA,1631425718
1,1,Dryden,49.7833,-92.7503,50.29,81,90,6.91,CA,1631426007
2,2,Torbay,47.6666,-52.7314,57.27,84,1,24.16,CA,1631426008
3,3,Rome,43.2128,-75.4557,70.84,78,40,1.01,US,1631426010
4,4,Busselton,-33.6500,115.3333,61.05,56,12,6.22,AU,1631426011

In [25]:
cities_df.to_html("cities.html")